@font-face {
    font-family: 'JoseonPalace';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGs.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%; /* 1rem = 10px */
    scroll-behavior: smooth;
}

:root {
    --color-primary: #000000;
    --color-text: #ffffff;

    --font-size-base: 1.6rem;
    --font-size-default: 2.4rem;
    --font-size-answer: 3.6rem;
    --font-size-heading-result: 4.8rem;
    --font-size-heading-main: 5.4rem;
}

body {
    background-color: var(--color-primary);
    color: var(--color-text);

    font-size: var(--font-size-base);
    font-family: 'JoseonPalace', sans-serif;
    line-height: 1.6;

    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: none;
}