.home-screen {
    max-width: 513px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    padding: 20vh 40px 12vh 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
}

.home-screen__title {
    color: var(--color-text);
    text-align: center;
    font-size: var(--font-size-heading-main);
}

.home-screen__title span {
    display: block;
}

.home-screen__button {
    color: var(--color-text);
    width: 444px;
    font-size: var(--font-size-default);
}

